
/* =============nav section============== */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px ;
}

nav button{
    text-decoration: none;
    
}


  .hero-banner {
  background-image: url('../Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 698;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px ;
    
  }

/* google font css */
.inter-900 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  color: #4E47FF;
  
}


.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 65px;
  font-weight: 700;
}


nav h3{
    color:4E47FF; 
}


.btn-primary{
    background-color:#4E47FF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius:10px;
    padding: 12px 36px;
    
}
button a{
  text-decoration: none;
  color: white;
}

.banner{
    
    align-items: center;
    text-align: center;
}

/* ++++++++++++++nav section end+++++++++++++++++++++ */

/* ===================section_1===================== */
.section_title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.section_paragraph{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    opacity: 50%;
}
.action{
    max-width:517px ;
    padding-right: 40px;
}
.sec_1_image img{
border-radius:48px;
height: 328px;
width: 403px;

}
.sec_1{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px
    
}

/* +++++++++++++++++++++++section_1_end++++++++++++++++ */

/* ===============================section_2=============================== */
.sec_2{
    background-color: #4E47FF1A;
    /* HERE LAST TWO DIGIT OF COLOR CODE IS 1A WHICH IS OPACITY 10% */
    margin: 100px 150px;
    border-radius:24px ;
    
}

.sec_2_title{
    padding-top: 50px;
    text-align: center;
}

.section_3_title,.section_2_title {
    font-family: "Raleway", sans-serif;;
    font-size: 38px;
    font-weight: bold;
}   

.sec_2_sub{
    display: flex;
    justify-content: space-between;
    padding: 0px 120px 80px 120px;
    text-align: center;
}

.au h1,.FS h1, .SR h1{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
    margin-bottom: 10px;
    
}
.au p, .FS p, .SR p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#0000005A;
    /* HERE LAST TWO DIGIT OF COLOR CODE IS 5A WHICH IS OPACITY 50% */
    margin-top: 0px;
}

/* +++++++++++++++++++section_2_end++++++++++++++++++++ */



/* ===============================section_3=============================== */


.reviews {
  padding: 60px 0px;
  text-align: center;
  
}


.review-cards {
  display: flex;
  justify-content: center;
  margin: 100px 150px;
  gap: 30px;
  
}

.review-card {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  max-width: 366 px;
  height: 243px;
  text-align: left;
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.star {
  width: 20px;
  height: 20px;
}

.review-card h3 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c2c2c;
}

.review-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #444;
  padding: 0px 10px 40px 0px;
  margin-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-info .name {
  font-family: "Raleway", sans-serif;  
  font-size: 20px;
  font-weight: 600;
  color: gray;
  margin: 0;
}

.reviewer-info .date {
  font-family: "Raleway", sans-serif;  
  font-size: 18px;
  color: lightgray;
  margin: 0;
  
}
/* ++++++++++++++++++++++++++section_3_end++++++++++++++++++++++++++++++++++ */
.section_4{
     margin: 100px 150px;
     
     
}
.box{
   
  background: #d3d1d1;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  width:1140 px;
  height: 697px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   
}
.box h1{
    font-family: "Raleway", sans-serif;  
    font-size: 50px;
    text-align: center;
}

.box p{
    font-family: "Raleway", sans-serif;  
    font-size: 25px;
    text-align: center;
    color:#0000005A
}

.font_C{
    font-family: "Raleway", sans-serif;  
    font-size: 16px;
    font-weight:500;
    text-align: center;
    

}
.box img{
    margin: 20px;
    width:840px ;
    height: 365px;
    border-radius: 48px;
    
}


/* +++++++++++++++++++++section_4 end ++++++++++++++++++ */


/* =======================section_5======================= */
.contact-section {
  padding: 80px 60px;
   background-color: #4E47FF1A;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  gap: 60px;
}

.contact-left h1 {
    font-family: "Raleway", sans-serif;  
  font-size: 97px;
  font-weight: bold;
  line-height: 1.2;
  max-width: 528px;
  color: #000;
}

.contact-right {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-form label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.contact-form textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #4e47ff;
  color: #fff;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}